* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: auto;
}

body {
    background-color: #202C36;
}

header {
    background-color: #2B3844;
    box-shadow: 0px 2px 4px 0px #0000000E;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;

}

.header__div1 {
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    color: white;
}

.header__div2 {
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: white;
}

.input {
    padding: 20px 200px 20px 50px;
    background-color: #2B3844;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
    margin-left: 20px;
}

.main__div {
    position: relative;
}

.main__div__img {
    position: absolute;
    top: 68px;
    left: 35px;
}

.v {
height: 250px;
background-color: #2B3844;

border-radius: 5px;


}
.main2__flagss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
}
p{
    font-family: Nunito Sans;
font-weight: 800;
font-size: 18px;
line-height: 26px;
text-align: center;
color:white;
margin-top: 20px;
}























@media (max-width:834px) {
    .container {
        padding: 0 34px;
    }

    .header__div1 {
        font-family: Nunito Sans;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
    }

    .header__div2 {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 18px;

    }

    .input {
        padding: 25px 20px 25px 50px;
        background-color: #2B3844;
        border: none;
        margin-top: 48px;
        width: 100%;
        margin-left: 0;
    }

    .main__div__img {
        position: absolute;
        top: 72px;
        left: 18px;
    }

    .main__div {
        position: relative;
    }
}

@media (max-width:500px) {
    .container {
        padding: 0 16px;
    }

    .header__div1 {
        font-family: Nunito Sans;
        font-weight: 800;
        font-size: 14px;
        line-height: 100%;
    }

    .header__div2 {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 12px;

    }

}